site_name: Warpgate
site_author: Warp Technologies
site_description: Securely expose your internal services to the internet
site_url: https://docs.warpgate.dev

repo_name: warp-tech/warpgate
repo_url: https://github.com/warp-tech/warpgate

theme:
  name: null
  custom_dir: 'theme/'

  favicon: https://github.com/warp-tech/warpgate/raw/refs/heads/main/warpgate-web/public/assets/favicon.svg

  features:
    - navigation.expand

nav:
  - Home: docs.md
  - Getting started:
    - Native: getting-started.md
    - Docker: getting-started-on-docker.md
    - Helm: getting-started-on-helm.md
  - Adding targets:
    - SSH: targets/ssh.md
    - HTTP: targets/http.md
    - MySQL: targets/mysql.md
    - PostgreSQL: targets/postgres.md
  - Access control:
    - auth-and-roles.md
    - tickets.md
    - otp.md
    - sso.md
    - recovering-access.md
  - Ops:
    - support.md
    - systemd.md
    - log-forwarding.md
    - reverse-proxy.md
  - Advanced topics:
    - http-domain-binding.md
    - sni.md
    - chaining.md
    - protocol-support.md

plugins:
  - search

markdown_extensions:
  - attr_list
  - md_in_html
  - callouts
  - pymdownx.blocks.caption
  - pymdownx.highlight:
      noclasses: true
      use_pygments: true
      pygments_lang_class: true
      pygments_style: github-dark
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: ยง
  - meta
